# Preface

# Datasets

## S&P 500 stock data

### Описание

[Данный датасет](https://www.kaggle.com/datasets/camnugent/sandp500/data) представляет собой данные за пять лет по рынку акций списка [S&P 500](https://stockanalysis.com/list/sp-500-stocks/).

### Содержание

Файл данных содержит следующие колонки:

- Date - in format: yy-mm-dd
- Open - price of the stock at market open (this is NYSE data so all in USD)
- High - Highest price reached in the day
- Low Close - Lowest price reached in the day
- Volume - Number of shares traded
- Name - the stock's ticker name

## SME - Synthetic UK Businesses financial statistics

### Описание

Информация о многих данных используемых в финансовом секторе недоступна рядовому пользователю. Финансовые организации, в погоне за прибылью, используют всю возможную информацию о своих клиентах, и редко ей делятся. Поэтому для исследований в таких областях как fraud detection или credit scoring часто используются синтетические данные, как в данном случае.

[Данный датасет](https://www.kaggle.com/datasets/nayaone/sme-uk-businesses-financial-statistics) содержит финансовую и базовую информацию о 1000 малых и средних предприятий Великобритании. В сумме он содержит более 200 аттрибутов, которые могут быть использованы для оценки выживаемости и успешности предприятий.

### Содержание

Датасеты, присутстующие в данном наборе:

    Account Receivable: Funds that customers owe your company for products or services that have been invoiced.
    Businesses: List of enterprises and their information
    Covid: Financial stats of the companies during the pandemic waves
    Credit Account History: History of a credit account and usage of
    Credit Card History: History of the credit card usage and debt amount of an enterprise
    Credit Rating: credit rating of listed businesses which is a quantified assessment of the creditworthiness of a borrower in general terms or with respect to a financial obligation.
    Director: UK Individual who is on the Director position in companies listed in Businesses
    Factoring: Financial transaction and a type of debtor finance in which a business sells its accounts receivable to a third party at a discount.
    Individual: UK Individuals information
    Loan: Information of the paid and unpaid Loans by the enterprise

# QAOA vs ?

In [2]:
import pandas as pd
pf_df = pd.read_csv('./datasets/all_stocks_5yr.csv')

In [3]:
pf_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    619040 non-null  str
 1   open    619029 non-null  float64
 2   high    619032 non-null  float64
 3   low     619032 non-null  float64
 4   close   619040 non-null  float64
 5   volume  619040 non-null  int64
 6   Name    619040 non-null  str
dtypes: float64(4), int64(1), str(2)
memory usage: 33.1 MB

# QSVM vs SVM

In [7]:
import os
cds_ls = [pd.read_csv(os.path.join('./datasets/credit_scoring', f)) for f in os.listdir('./datasets/credit_scoring')]
cds_ls[0].info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 46 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    1000 non-null   int64
 1   borough_county                1000 non-null   str
 2   address                       1000 non-null   str
 3   contact_phone_no              1000 non-null   str
 4   primary_sector                1000 non-null   str
 5   entity_trade_name             1000 non-null   str
 6   company_type                  1000 non-null   str
 7   entity_name                   1000 non-null   str
 8   company_reg_number            1000 non-null   int64
 9   annual_turnover               1000 non-null   str
 10  number_of_employees           1000 non-null   str
 11  number_of_officers            1000 non-null   int64
 12  incorporation_date            1000 non-null   str
 13  entity_status                 1000 non-null   int64
 14  dissolved_on                  1000 non-null   str
 15  officers_and_percent_owned    1000 non-null   str
 16  ubo_and_percent_owned         1000 non-null   str
 17  date_of_name_change           0 non-null      float64
 18  previous_name                 0 non-null      float64
 19  country_of_incorporation      1000 non-null   str
 20  country_of_primary_operation  1000 non-null   str
 21  women_owned                   1000 non-null   int64
 22  2019_revenue                  974 non-null    float64
 23  capex                         974 non-null    float64
 24  cogs                          974 non-null    float64
 25  cogs_plus_capex               974 non-null    float64
 26  costs                         974 non-null    float64
 27  turnover_bands                974 non-null    str
 28  accounts_receivable           974 non-null    float64
 29  capital_and_reserves          974 non-null    float64
 30  current_assets                974 non-null    float64
 31  current_liabilities           974 non-null    float64
 32  filing_date                   974 non-null    str
 33  fixed_assets                  974 non-null    float64
 34  long_term_liabilities         974 non-null    float64
 35  provisions_for_liabilities    974 non-null    float64
 36  revenue_2019                  974 non-null    float64
 37  Unnamed: 37                   0 non-null      float64
 38  Unnamed: 38                   0 non-null      float64
 39  Unnamed: 39                   0 non-null      float64
 40  Unnamed: 40                   0 non-null      float64
 41  Unnamed: 41                   0 non-null      float64
 42  Unnamed: 42                   0 non-null      float64
 43  Unnamed: 43                   0 non-null      float64
 44  Unnamed: 44                   0 non-null      float64
 45  Unnamed: 45                   0 non-null      float64
dtypes: float64(24), int64(5), str(17)
memory usage: 359.5 KB

# VQC

# [Grover's Algorithm]

# Conclusion